

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>아이디 입력 오류</title>
    <script>
      alert( "<%= username %>님의 비밀번호는 <%= findedpw %>입니다 "  );
      history.back();
    </script>

  </head>

</html>
