<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>중복되는 아이디 </title>
    <script>
      alert( "중복되는 아이디 입니다. 다른 아이디를 사용해주세요" );
      history.back();
    </script>

  </head>

</html>
