<!DOCTYPE html>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/admin_banner2.png" class="img-fluid" alt="배너이미지" width="100%"> </div>

  <!-- 컨텐츠(예, 쇼핑몰일경우 판매제품리스트)헤더부분 -->
   <div class="container-fluid" >
     <div class="panel panel-default">
   	  <div class="panel-heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">카테고리</a></li>
            <li class="breadcrumb-item">액세서리</a></li>
            <li class="breadcrumb-item active" aria-current="page">목걸이</li>
          </ol>
        </nav>
   	  </div>
   	  <div class="panel-body">
         <div class="row align-items-center">
           <div class="col-2"><img src="/images/product/neck1.jpg" class="align-self-start mr-3" alt="선풍기1" width=200px></div>
           <div class="col-4">         <h5 class="mt-0">수제 레진 목걸이</h5>
                    <p>나무와 돌의 콜라보레이션</p>
                    <p>이벤트가  29,900</p>
                    <button type="button" class="btn btn-primary">구매하기</button>  </div>
           <div class="col-2"> <img src="/images/product/neck2.jpg" class="align-self-start mr-3" alt="선풍기2" width=200px>  </div>
           <div class="col-4">  <h5 class="mt-0">나선은 곧 드릴 드릴은 곧 이중나선</h5>
            <p class=xs>한바퀴 돌면 조금 더 나아가는 드릴의 힘</p>
            <p>이벤트가 10,900</p>
            <button type="button" class="btn btn-primary">구매하기</button>  </div>
         </div>
   	  </div>
   	</div>
  </div>

  <p> <p> <p> <p>
