

<script type="text/javascript">

    function usermain(){

        window.open('/adminmain/usermain','usermainmain','width=1000,height=600,top=100,left=400');

    }

</script>

<!DOCTYPE html>
 <!-- GNB(Global Navigation Bar) 부분 -->
   <nav class="navbar navbar-expand-md navbar-dark bg-dark">
     <a class="navbar-brand" href="/">슬로우 메이드</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/adminmain/mainimg">메인화면관리<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminmem/list/1">회원 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminsh/list/1">상점 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminprod/list/1">상품 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminod/list/1">주문 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adminbulletin/list/1">게시판 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AI 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" onclick="usermain()" href="#">사용자 메인 확인</a>
          </li>
      </li>
    </ul>
   </div>
 </nav>
