<!doctype html>
  <!--  Footer -->
  <p>
  <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3"> <small>© 2019 Copyright:  이 사이트는 현재 수업용으로 제작중입니다. 판매중인 상품은 실제로 판매하지 않습니다.<br>
          <a href="#"> 3team </a> </small>
      </div>
  </footer>

  </body>
</html>
