<!DOCTYPE html>

<div class="row">
  <div class="col-sm-2">
    <div class="sidebar container p-3 my-3 border">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" href="/guide">이용안내</a></li>
      <li class="nav-item"><a class="nav-link" href="/shop/list">상점목록</a></li>
    </ul>
    </div>
  </div>
<div class="col-sm-10">
  <div style="width: 80%; overflow: hidden; margin: 5%;">
      <img src="/images/mainImg/KakaoTalk_20191218_152323638.jpg" alt="이용 안내 이미지" style="width: 100%;">
  </div>
</div>
</div>
