<!DOCTYPE html>
 <!-- GNB(Global Navigation Bar) 부분 -->

  <nav class="navbar navbar-expand-md navbar" style=" background: #fdc7b5; color: #4d1600; margin-bottom:0;"  >

     <a class="navbar-brand" href="/">슬로우메이드</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" data-hover="dropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-hover="dropdown">HOME</a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="/guide">이용안내</a>
            <a class="dropdown-item" href="/shop/list">상점 목록</a>
          </div>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-hover="dropdown">상품추천</a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="/recommend/popular">인기상품</a>
            <a class="dropdown-item" href="/recommend/ai">맞춤추천</a>

            <!-- <a class="dropdown-item" href="/product/list/?category=fridge">계절추천</a> -->
          </div>
  
          <li class="nav-item">
            <a class="nav-link" href="/event/list">이벤트<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/comm" role="button" data-hover="dropdown"> 커뮤니티 </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="/comm/info/1">공지사항</a>
            <a class="dropdown-item" href="/comm/review/list/1">리뷰게시판</a>
            <!-- <div class="dropdown-divider"></div> -->
           <!-- <a class="dropdown-item" href="/product/list/?category=fridge">게시판</a> -->
          </div>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/service/faq" role="button" data-hover="dropdown">고객센터</a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="/service/mallenquiry/list/1">1:1 문의</a>
            <a class="dropdown-item" href="/service/faq">FAQ</a>
            <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="/service/openshop">입점문의</a>
          </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/shop" role="button" data-hover="dropdown">상점관리</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/shop/product">상품 정보 등록</a>
          <a class="dropdown-item" href="/shop/product_list/1">상품 관리</a>
          <a class="dropdown-item" href="/shop/stock/1">제작량 관리</a>
          <a class="dropdown-item" href="/shop/review/list/1">리뷰 관리</a>
          <a class="dropdown-item" href="/shop/enquiry/list/1">문의 관리</a>
        </div>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/users/profile">마이페이지<span class="sr-only">(current)</span></a>
     </li>
    </ul>
   </div>
 </nav>
