  <!DOCTYPE html>
    <script language="javascript">
      function validate() {
         let item = document.getElementById("title").value;
         if (item == '') {
           alert("공지 제목이 입력되지 않았습니다, 꼭 입력하세요");
           return false;
         }
         return true;
      }

      $(document).ready(function() {
        bsCustomFileInput.init();
      })
    </script>
<div class="row">
  <div class="col-sm-2">
    <div class="sidebar container p-3 my-3 border">
      <ul class="nav flex-column">
        <ul class="nav flex-column">
          <h5>게시판 관리</h5>
          <li class="nav-item"><a class="nav-link" href="/adminbulletin/list/1">공지사항</a></li>
          <li class="nav-item"><a class="nav-link" href="/adminbulletin/event/list/1">이벤트</a></li>
          <li class="nav-item"><a class="nav-link" href="/adminbulletin/faq/list/1">FAQ</a></li>
          <li class="nav-item"><a class="nav-link" href="/adminbulletin/enquiry/list/1">1:1문의</a></li>

          </ul>
    </div>
  </div>
<div class="col-sm-10">
  <div class="openshop container">
    <% for(var i = 0; i<Detail.length; i++) {
      if(Detail[i].faqNum == id){ %>

    <h2>FAQ 수정</h2>
    <hr>
    <form action="/adminbulletin/faq/update?id=<%=id%>" name="infoAdd" onsubmit="return validate()" method="POST" enctype="text/html" class="was-validated">
      <!-- enctype="text/html" -->
        <div class="form-group">
          <label for="title">이벤트 번호</label>
          <input type="text" class="os form-control" id="num" name="num" value="<%=Detail[i].faqNum%>">
        </div>
        <!-- 공지번호를 채울경우 해당 번호로 DB에 공지가 삽입 아니면 autoincrement -->
         <div class="form-group">
           <label for="title">제목</label>
           <input type="text" class="os form-control" id="title" name="title" value="<%=Detail[i].faqTitle%>" required>
           <div class="valid-feedback">Valid.</div>
           <div class="invalid-feedback">Please fill out this field.</div>
         </div>
         <select class="os form-control" id="category" name="category">
            <option value="ship">배송</option>
            <option value="exchange">교환/환불/취소</option>
            <option value="payment">결제</option>
            <option value="product">상품문의</option>
            <option value="event">이벤트</option>
            <option value="member">회원관련</option>
          </select>
         <div class="form-group">
           <label for="intro">내용</label>
           <input type="text" class="intro form-control" id="intro" name="intro" value="<%=Detail[i].faqMent %>" required>
           <div class="valid-feedback">Valid.</div>
           <div class="invalid-feedback"></div>
         </div>
         <input type="hidden" name="_method" value="put">
         <button type="submit" class="btn btn-primary">등록</button>
     </form>
     <% }} %>

  </div>
</div>
